.nav-header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.website-logo {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.website-name {
  font-size: 18px;
  font-weight: 600;
  color: #12022f;
}

.pages-container {
  display: flex;
  list-style-type: none;
}

.nav-links {
  font-size: 18px;
  font-weight: 500;
  color: #12022f;
  margin: 0px 7px;
  text-decoration: none;
  cursor: pointer;
}
